

.portf_main{
    padding: 60px 0;
    background-color: #3734A9;
}



.port_text h5{
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
}
.port_text h2{
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    color: #ffff;
    font-size: 50px;
    line-height: 56px;
}
.port_text p{
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    color: #ffff;
    font-size: 18px;
    line-height: 30px;
}

.port_frm{
    padding-left: 200px;
    margin-top: 50px;
}

.mahd{
    height: 40px !important;
    width: 344px !important;
    background-color: #FF7F5C !important;
}


@media(max-width:575px){
    .port_frm {
        padding-left: 0;
        margin-top: 70px;
    }
    .mahd {
        width: 139px !important;
    }
    .port_text h2 {
        font-size: 30px;
        line-height: 41px;
    }
    .port_text p {
        font-size: 16px;
        line-height: 28px;
    }
}




@media(min-width:576px) and (max-width:767px){
    .mahd {
        height: 40px !important;
        width: 204px !important;
    }
    .port_frm {
        padding-left: 0;
        margin-top: 70px;
    }
    .port_text h2 {
        font-size: 40px;
        line-height: 50px;
    }
    .port_text p {
        font-size: 16px;
        line-height: 28px;
    }
}



@media(min-width:768px) and (max-width:991px){
    .port_frm {
        padding-left: 50px;
        margin-top: 70px;
    }
    .mahd {
        width: 285px !important;
    }
    .port_text h2 {
        font-size: 44px;
        line-height: 50px;
    }
    .port_text p {
        font-size: 16px;
        line-height: 28px;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .port_frm {
        padding-left: 122px;
    }
}