.footer_main{
    padding: 50px 0;
    background-color: #1B1C31;
}
.ftr_frst_txt p{
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px; 
    line-height: 26px;
    margin-top: 30px;
}

.frt_last{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.part_one ul li p{
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 21px;
    line-height: 24px;
    
}
.part_one ul li a{
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
}
.ftr_last{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.last_txt p{
    color: #ffffff;
}
.footer_main_last{
    padding-top: 60px;
}


@media(min-width:320px) and (max-width:480px){
    .part_one ul li p {
        font-size: 13px;
        line-height: 15px;
    }
    .part_one ul li a {
        font-size: 7px;
        line-height: 18px;
    }
}
    
